body{
    padding-right: 50px;
    padding-left: 50px;
    background-color:lavender;
}
h1{
    text-align: center;
    color: seagreen;
}
h2{
    color:seagreen;
    text-align: left;
}
p{
    text-align: left;
}
a{
    text-align: left;
    color: purple;
}
table{
    float: right;
}
